SAP_URL=ABC
SAP_USER=ABC
SAP_PASSWORD=ABC
SAP_CLIENT=000
SAP_LANGUAGE=EN
SAP_ALLOW_WRITES=false
SAP_ALLOW_DATA_PREVIEW=false
SAP_ALLOW_FREE_SQL=false
SAP_ALLOW_TRANSPORT_WRITES=false
SAP_ALLOW_GIT_WRITES=false
SAP_ALLOWED_PACKAGES='$*,Z*,Y*,/REG/*'
SAP_ALLOWED_TRANSPORTS=
SAP_DENY_ACTIONS=
SAP_BLOCKED_DATA_SOURCES=
SAP_CHECK_BEFORE_WRITE=true
ARC1_MAX_CONCURRENT=1
WEBGUI_BASE_URL=
TRM_PUBLIC_REGISTRY_ENDPOINT=